*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.active{
    display: block;
    position: relative;
}

.item{
    display: none;
}

.next,.prev{
    font-size: 35px;
    cursor: pointer;
}


.info-img{
    position: absolute;
    color: white;
    bottom: 20px;
    right: 20px;
}