.container{
    width: 80%;
    margin: 0 auto;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.active{
    display: block;
}

.item{
    display: none;
}

.next,.prev{
    font-size: 35px;
    cursor: pointer;
}